[submodule "external/MA-CBF-VO"]
	path = external/MA-CBF-VO
	url = https://github.com/KTH-RPL/MA-CBF-VO.git
[submodule "mujoco_sims/assets/robotis_mujoco_menagerie"]
	path = mujoco_sims/assets/robotis_mujoco_menagerie
	url = https://github.com/ROBOTIS-GIT/robotis_mujoco_menagerie.git
[submodule "mujoco_sims/assets/robotnik_mujoco"]
	path = mujoco_sims/assets/robotnik_mujoco
	url = https://github.com/RobotnikAutomation/robotnik_mujoco.git
